@import url("https://fonts.googleapis.com/css?family=Poppins|Raleway:800");
html {
  overflow: hidden; }

body {
  background-color: white;
  height: 100vh;
  width: 100vw;
  margin: 0 auto; }

.landing-text {
  color: black;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  opacity: 0; }

.landing-main {
  position: relative;
  top: 20%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly; }
  .landing-main .row {
    margin: 0% 0%; }
    .landing-main .row:nth-child(1) {
      height: 50%; }
    .landing-main .row div {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .landing-main .row div .flashSwitch1 {
        animation: FadeOutInHomeQuick1 .25s 0s ease-in-out 1 forwards; }
@keyframes FadeOutInHomeQuick1 {
  0% {
    opacity: 1;
    filter: blur(0px); }
  100% {
    opacity: 0;
    filter: blur(10px); } }
      .landing-main .row div .flashSwitch2 {
        font-size: 300%;
        animation: FadeOutInHomeQuick2 .75s 0s ease-in-out 1 forwards; }
@keyframes FadeOutInHomeQuick2 {
  0% {
    opacity: 0;
    filter: blur(10px); }
  100% {
    opacity: 1;
    filter: blur(0px); } }
      .landing-main .row div #landing-text-primary {
        position: relative;
        margin: 0;
        padding: 0; }
      .landing-main .row div .BlurIn {
        animation: BlurInPrimaryLandingText 3s 0s linear 1 forwards; }
@keyframes BlurInPrimaryLandingText {
  0% {
    opacity: 0;
    filter: blur(10px); }
  100% {
    opacity: 1;
    filter: blur(0px); } }
      .landing-main .row div .home-list-item {
        padding: 0;
        margin: 0%; }
      .landing-main .row div .listItemAppear {
        animation: ListItemAppear .5s 0s ease 1 forwards; }
@keyframes ListItemAppear {
  100% {
    opacity: 1; } }
footer {
  margin: 0;
  position: absolute;
  bottom: 0;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 0%;
    border-top-style: solid;
    overflow: hidden; }
    footer div p {
      white-space: nowrap;
      font-size: 50%; }
  footer .fillFooter {
    background-color: white;
    animation: FillFoot 1.50s 0s ease-in-out 1 forwards; }
@keyframes FillFoot {
  100% {
    width: 100%; } }
#mainNav {
  padding: 0;
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  border-style: none none solid none; }
  #mainNav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  #mainNav li {
    color: black;
    font-family: "Poppins", Arial, Helvetica, sans-serif; }
    #mainNav li a {
      color: black;
      font-family: "Poppins", Arial, Helvetica, sans-serif; }

.fillNav {
  animation: FillNav 1.50s 0s ease-in-out 1 forwards; }

@keyframes FillNav {
  100% {
    width: 100%;
    padding: 15px; } }
#brandIcon {
  height: 60px;
  width: 60px;
  padding: 10px; }

/*# sourceMappingURL=styles.css.map */
