@import url("https://fonts.googleapis.com/css?family=Poppins|Raleway:800");
html {
  overflow: hidden; }

body {
  overflow: hidden;
  background-color: white;
  height: 100vh;
  width: 100vw;
  margin: 0 auto; }

.landing-text {
  color: black;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  opacity: 0; }

.landing-main {
  position: relative;
  height: 78%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly; }
  .landing-main .row {
    margin: 0% 0%; }
    .landing-main .row:nth-child(1) {
      height: 50%; }
    .landing-main .row div {
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .landing-main .row div .flashSwitch1 {
        -webkit-animation: FadeOutInHomeQuick1 .25s 0s ease-in-out 1 forwards;
                animation: FadeOutInHomeQuick1 .25s 0s ease-in-out 1 forwards; }
@-webkit-keyframes FadeOutInHomeQuick1 {
  0% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px); }
  100% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px); } }
@keyframes FadeOutInHomeQuick1 {
  0% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px); }
  100% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px); } }
      .landing-main .row div .flashSwitch2 {
        font-size: 300%;
        -webkit-animation: FadeOutInHomeQuick2 .75s 0s ease-in-out 1 forwards;
                animation: FadeOutInHomeQuick2 .75s 0s ease-in-out 1 forwards; }
@-webkit-keyframes FadeOutInHomeQuick2 {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px); }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px); } }
@keyframes FadeOutInHomeQuick2 {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px); }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px); } }
      .landing-main .row div #landing-text-primary {
        position: relative;
        margin: 0;
        padding: 0; }
      .landing-main .row div .BlurIn {
        -webkit-animation: BlurInPrimaryLandingText 3s 0s linear 1 forwards;
                animation: BlurInPrimaryLandingText 3s 0s linear 1 forwards; }
@-webkit-keyframes BlurInPrimaryLandingText {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px); }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px); } }
@keyframes BlurInPrimaryLandingText {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px); }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px); } }
      .landing-main .row div .home-list-item {
        padding: 0;
        margin: 0%; }
      .landing-main .row div .listItemAppear {
        -webkit-animation: ListItemAppear .5s 0s ease 1 forwards;
                animation: ListItemAppear .5s 0s ease 1 forwards; }
@-webkit-keyframes ListItemAppear {
  100% {
    opacity: 1; } }
@keyframes ListItemAppear {
  100% {
    opacity: 1; } }
footer {
  margin: 0;
  position: fixed;
  bottom: 0;
  z-index: 100;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 0%;
    border-top-style: solid;
    overflow: hidden; }
    footer div p {
      white-space: nowrap;
      font-size: 50%; }
  footer .fillFooter {
    background-color: white;
    -webkit-animation: FillFoot 1.50s 0s ease-in-out 1 forwards;
            animation: FillFoot 1.50s 0s ease-in-out 1 forwards; }
@-webkit-keyframes FillFoot {
  100% {
    width: 100%; } }
@keyframes FillFoot {
  100% {
    width: 100%; } }
#navHolder {
  height: 73.6719px;
  background-color: white; }
  #navHolder #mainNav {
    height: 73.6719px;
    padding: 0;
    width: 0%;
    overflow: hidden;
    white-space: nowrap;
    border-style: none none solid none; }
    #navHolder #mainNav ul {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    #navHolder #mainNav li {
      color: black;
      font-family: "Poppins", Arial, Helvetica, sans-serif; }
      #navHolder #mainNav li a {
        color: black;
        font-family: "Poppins", Arial, Helvetica, sans-serif; }
  #navHolder .fillNav {
    -webkit-animation: FillNav 1.50s 0s ease-in-out 1 forwards;
            animation: FillNav 1.50s 0s ease-in-out 1 forwards; }
@-webkit-keyframes FillNav {
  100% {
    width: 100%;
    padding: 15px; } }
@keyframes FillNav {
  100% {
    width: 100%;
    padding: 15px; } }
  #navHolder #brandIcon {
    height: 27.5px;
    width: 27.5px; }
  #navHolder .appearNav {
    display: none; }
  #navHolder div {
    opacity: 0; }
  #navHolder .appearNavAnim {
    opacity: 0;
    -webkit-animation: AppearNavAnim .75s .25s ease-in-out 1 forwards;
            animation: AppearNavAnim .75s .25s ease-in-out 1 forwards; }
@-webkit-keyframes AppearNavAnim {
  100% {
    opacity: 1; } }
@keyframes AppearNavAnim {
  100% {
    opacity: 1; } }
  #navHolder button {
    opacity: 0; }
  #navHolder button:focus {
    outline: none; }

.navbar-toggler {
  border: none;
  background: transparent !important; }

.navbar-toggler:focus {
  outline: none;
  background: transparent !important; }

.navbar-toggler .icon-bar {
  background-color: black;
  -webkit-transform: rotate(0deg) translate(0px, 0px);
          transform: rotate(0deg) translate(0px, 0px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s; }

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px; }

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px; }

.icon-bar:nth-child(2) {
  width: 16px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s; }

.navbar-toggler:hover > .icon-bar:nth-child(2) {
  width: 22px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s; }

.navbar-toggler:active > .icon-bar:nth-child(2) {
  width: 22px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s; }

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 4px);
          transform: rotate(45deg) translate(5px, 4px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s; }

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  -webkit-transition: ease all .2s;
  transition: ease all .2s; }

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
          transform: rotate(-45deg) translate(4px, -4px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s; }

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  -webkit-transition: ease-in-out all .25s;
  transition: ease-in-out all .25s; }

nav ul li a:hover {
  color: #555; }

nav.stroke ul li a {
  position: relative; }

nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: black;
  height: 2px; }

nav.stroke ul li a:hover:after {
  width: 100%; }

nav.stroke ul li a.selectedLink:after {
  width: 100%; }

.noneHome {
  position: relative;
  height: 78%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly; }
  .noneHome .col {
    text-align: center; }

.contentSection {
  display: none; }

.currentlySelected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flyInLeft {
  position: absolute;
  top: 74.5px;
  -webkit-animation: FlyInLeft 1.50s 0s ease 1 forwards;
          animation: FlyInLeft 1.50s 0s ease 1 forwards; }

@-webkit-keyframes FlyInLeft {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    left: -100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    left: -30%;
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25); }
  75% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    left: -5%;
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25); }
  100% {
    left: 0%; } }

@keyframes FlyInLeft {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    left: -100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    left: -30%;
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25); }
  75% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    left: -5%;
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25); }
  100% {
    left: 0%; } }
.flyOutLeft {
  position: absolute;
  top: 74.5px;
  -webkit-animation: FlyOutLeft 1.50s 0s ease 1 forwards;
          animation: FlyOutLeft 1.50s 0s ease 1 forwards; }

@-webkit-keyframes FlyOutLeft {
  0% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    left: 0%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    left: -5%;
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25); }
  75% {
    left: -30%;
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25); }
  100% {
    left: -100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@keyframes FlyOutLeft {
  0% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    left: 0%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    left: -5%;
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25); }
  75% {
    left: -30%;
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25); }
  100% {
    left: -100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }
.flyInRight {
  position: absolute;
  top: 74.5px;
  -webkit-animation: FlyInRight 1.50s 0s ease 1 forwards;
          animation: FlyInRight 1.50s 0s ease 1 forwards; }

@-webkit-keyframes FlyInRight {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    left: 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    left: 30%;
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25); }
  75% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    left: 5%;
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25); }
  100% {
    left: 0%; } }

@keyframes FlyInRight {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    left: 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    left: 30%;
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25); }
  75% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    left: 5%;
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25); }
  100% {
    left: 0%; } }
.flyOutRight {
  position: absolute;
  top: 74.5px;
  -webkit-animation: FlyOutRight 1.50s 0s ease 1 forwards;
          animation: FlyOutRight 1.50s 0s ease 1 forwards; }

@-webkit-keyframes FlyOutRight {
  0% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    left: 0%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    left: 5%;
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25); }
  75% {
    left: 30%;
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25); }
  100% {
    left: 120%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@keyframes FlyOutRight {
  0% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    left: 0%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    left: 5%;
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25); }
  75% {
    left: 30%;
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25); }
  100% {
    left: 120%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

/*# sourceMappingURL=styles.css.map */